
# ignore Jo's sublime-project files
*.sublime-*

# ignores intermediate files in OS folder
**/*.o
**/*.bin
**/*.hex
**/*.elf
**/a.out

# ignores intermediate files in OS folder
docs/**/.*
themes/*.zip


.DS_Store